<link rel="apple-touch-icon" href="/favicons/apple-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png">
<link rel="icon" href="/favicons/android-chrome-512x512.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<meta name="msapplication-TileColor" content="#e11d74">
<meta name="msapplication-TileImage" content="/favicons/mstile-150x150.png">
<meta name="theme-color" content="#e11d74">