<link rel="apple-touch-icon" href="{{ meta.favicon }}">
<link rel="icon" type="image/png" href="{{ meta.favicon }}"/>
<link rel="icon" type="image/x-icon" href="/{{ meta.faviconIco }}">
<meta name="msapplication-TileImage" content="{{ meta.favicon }}">
<meta name="msapplication-TileColor" content="{{ meta.tileColor }}">
<meta name="theme-color" content="{{ meta.tileColor }}">