<!DOCTYPE html>
<html lang="en">
  {%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
  {%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ '/style.css' | url }}" media="screen" as="style">
    <meta name="twitter:card" content="summary_large_image"/>
    {% if meta.twitterUsername %}
      <meta name="twitter:creator" content="@{{ meta.twitterUsername }}"/>
    {% endif %}
    <meta name="twitter:title" content="{{ pageTitle }}"/>
    <meta name="twitter:description" content="{{ pageDescription }}"/>

    <meta name="og:title" content="{{ pageTitle }}"/>
    <meta name="og:description" content="{{ pageDescription }}"/>
    <meta property="og:image" content="{{ meta.socialImage }}"/>
    <meta name="twitter:image" content="{{ meta.socialImage }}"/>

    {% include "favicons.njk" %}

    <link rel="canonical" href="{{ meta.url }}{{ canonical }}"/>
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    {% if noIndex %}
      <meta name="robots" content="noindex,nofollow"/>
    {% endif %}
  </head>
  <body>
    <div class="columns">
      <aside class="column is-one-fifth">
        <nav class="has-text-centered p-6 is-sticky">
          <h1 class="title has-text-primary" style="font-size:3vw;">
            Jens
            <br/>
            Kooij
          </h1>
          <a class="" href="/#werkervaring">Werkervaring</a>
        </nav>
      </aside>
      <main class="column container p-6">
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>