---
layout: layout/base
---
<div class="content">
  <h1>{{ title }}</h1>
  <div class="columns">
    <div class="column is-half content">
      {% if date %}
        <em><strong>Publicatiedatum: </strong>{{ date.getDate() }}-{{ date.getMonth() + 1 }}-{{ date.getFullYear() }}</em>
      {% endif %}
      <div class="has-text-weight-bold has-text-justified mt-3">
        {% markdown %}{{ description }}{% endmarkdown %}
      </div>
    </div>
    <div class="column is-half">
      {% if image %}
        {% image image, title %}
      {% endif %}
    </div>
  </div>

  {{ content | safe }}
</div>
<h3 class="subtitle">Meer publicaties</h3>
{% include "components/publications-list.njk" %}