---
title: Incentro
description: Van 2015 tot 2019 heb ik als consultant gewerkt in zelfsturende cellen. Meegewerkt aan opzetten self management binnen de vestiging. Gewerkt als consultant onder andere de rollen Bloomreach developer, sales consultant, peer coach en stagebegeleider.
layout: layout/publication.njk
image: http://images.ctfassets.net/s0m3943n5459/SYAI1qJZVzleIT0EU9NDQ/9a3585ab3b54aa1c35302d663dbb3ccb/ext
---
<h2>Consultancy</h2>
<p>
  Als consultant voor Incentro kom ik bij grote bedrijven om te adviseren over hun online content
  strategie en de implementatie hiervan binnen de bestaande architectuur.
</p>
<blockquote>
  "Wat ik fijn vind aan jou en ook de reden dat ik tegen je op kijk is dat jij heel erg goed bullshit
  kan filteren, precies de kern en aanleiding kan analyseren zonder externe invloed."
  <small class="small">Thijs Vredebregt - Consultant Incentro</small>
</blockquote>
<h2>Development</h2>
<p>
  Bij Incentro ben ik voor een groot gedeelte bezig geweest met developmentwerk. Als Bloomreach (voorheen Hippo)
  developer heb ik aan de back-end gewerkt van diverse online platformen, zoals bijvorbeeld ANWB en Air Miles.
  Focus lag hierbij op het implementeren van innovatieve functionaliteiten, het modelleren van de contentstructuur
  en futureproof maken van bestaande applicaties.
</p>
<p>
  Daarnaast ben ik bezig geweest met architectuurontwikkeling met behulp van Contentful,
  om flexibele cloud omgevingen met behulp van microservices op te zetten.
</p>
<blockquote>
  "Challengen, meedenken, individueel geluk bewaken van teamleden."
  <small>Brian Snijders, Solutions Architect Incentro</small>
</blockquote>
<h2>Selfmanagement</h2>
<div class="columns">
  <div class="column is-two-thirds">
    <p>
      Naast mijn dagelijkse bezigheden als ontwikkelaar, ben ik ook altijd actief bezig met diverse andere taken binnen het bedrijf.
    </p>
    <p>
      Ik geloof dat een goede werkgever begint bij een goede recruitment en onboarding strategie. Het opleiden van juniors, trainingen geven aan collega's en sparren met gelijkgestemden zie ik dan ook graag als persoonlijke aanvulling op mijn digitale werkzaamheden.
    </p>
    <p>
      Verder vind ik het leuk om te ondersteunen bij salestrajecten. Het schrijven van offertes, gesprekken aangaan met prospects of voorbereiden van demo's zijn zaken waar ik mij confortabel bij voel.
    </p>
    <p>
      Verder hebben we binnen de Rotterdamse vestiging in 2017 en 2018 een experiment uitgevoerd met volledig autonome en zelfsturende teams. Hierin heb ik ook actief deelgenomen aan de vorming van structuur binnen het bedrijf.
    </p>
  </div>
  <div class="column is-one-third">
    {% image "http://images.ctfassets.net/s0m3943n5459/5BFGiZBbKAqMLDoBoyWpOG/ceb3a56d03aa8f5d856c5dcf2dfb054f/IMG-20161202-WA0004.jpg", "Selfmanagement bij Incentro" %}
  </div>
</div>
<blockquote>
  "Tof hoe jij van criticaster naar voorstander bent gegaan van zelfsturing, en altijd kritisch blijft. Dat is heel waardevol,
  altijd je mening geven. Daar wordt onze vestiging en jouw cel alleen maar beter van. Dank daarvoor!"
  <small>Edwin van der Geest, Managing Director Incentro</small>
</blockquote>

