---
layout: layout/base
---

<section class="portfolio" id="werkervaring">
  <h2 class="subtitle is-size-2 mb-6">
    Werkervaring
  </h2>
  {% include "components/portfolio.njk" %}
</section>
<section class="publications mt-6">
  <h2 class="subtitle is-size-2 mb-6">
    Publicaties
  </h2>
  {% include "components/publications-list.njk" %}
</section>