---
layout: layout/base
---
<secion>
  <div class="columns mb-5">
    <div class="column is-one-third has-text-centered-touch">
      {% image "https://pbs.twimg.com/profile_images/1268881669064450050/xEcjwz5M_400x400.jpg", "Jens Kooij" %}
    </div>
    <div class="column is-one-third content">
      <h3 class="subtitle">Hi!</h3>
      <p>Ik ben Jens Kooij, professioneel software ontwikkelaar sinds 2009</p>
      <p>Ik ben beschikbaar voor:</p>
      <ul>
        <li>
          <span>Bloomreach projecten</span>
        </li>
        <li>
          <span>JAMStack projecten</span>
        </li>
        <li>
          <span>Innovatie</span>
          <ul>
            <li>Inception decks</li>
            <li>Design sprints</li>
          </ul>
        </li>
        <li>Talks</li>
      </ul>
    </div>
    <div class="column is-one-third">
      <h3 class="subtitle">Contact</h3>
      <a class="box" href="https://www.linkedin.com/in/jenskooij/" target="_blank" rel="noopener ">
        <strong class="has-text-primary">LinkedIn</strong>
        <p>Zakelijke connecties</p>
      </a>
      <a class="box" href="https://twitter.com/jenskooij" target="_blank" rel="noopener ">
        <strong class="has-text-primary">Twitter</strong>
        <p>Gaat voornamelijk over m'n hobby: game developement</p>
      </a>
    </div>
  </div>
</secion>
<section class="portfolio" id="werkervaring">
  <h2 class="subtitle is-size-2 mb-6">
    Werkervaring
  </h2>
  {% include "components/portfolio.njk" %}
</section>
<section class="publications mt-6" id="publicaties">
  <h2 class="subtitle is-size-2 mb-6">
    Publicaties
  </h2>
  {% include "components/publications-list.njk" %}
</section>