---
layout: layout/base
---
<div class="columns">
  <aside class="column is-one-fifth">
    <nav class="has-text-centered p-6 is-sticky">
      <h1 class="title has-text-primary" style="font-size:3vw;">
        Jens
        <br/>
        Kooij
      </h1>
      <a class="" href="/#werkervaring">Werkervaring</a>
    </nav>
  </aside>
  <main class="column container p-6">
    <section class="portfolio" id="werkervaring">
      <h2 class="subtitle is-size-2 mb-6">
        Werkervaring
      </h2>
    </section>
    {% include "components/portfolio.njk" %}
  </main>
</div>