---
permalink: sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for item in collections.all %}
    {% if not item.data.noIndex %}
      <url>
        <loc>{{ meta.url }}{{ item.url }}</loc>
        <lastmod>{{ item.date.toJSON().slice(0,10) }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>{{ 1 if item.url == "/" else 0.8 }}</priority>
      </url>
    {% endif %}
  {% endfor %}
</urlset>