---
permalink: site.webmanifest
---
{
"name": "{{ meta.siteDescription }}",
"short_name": "{{ meta.siteName }}",
"icons": [{
"src": "{{ meta.favicon }}",
"sizes": "72x72 96x96 128x128 192x192 256x256 512x512",
"type": "image/png",
"purpose": "any maskable"
}],
"theme_color": "{{ meta.tileColor }}",
"background_color": "#000",
"display": "standalone",
"start_url": "{{ meta.url }}/",
"display": "minimal-ui"
}