.portfolio-component {

  .box {
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: $box-link-hover-shadow
    }

    &:active {
      box-shadow: $box-link-active-shadow
    }
  }
}

.portfolio-item {
  .image {
    line-height: 64px;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }


}

.portfolio {
  .portfolio-item {
    @media screen and (max-width: $tablet - 1px) {
      .media-left {
        flex-grow: 1;
        margin: 0;
        text-align: center;

        .image {
          display: inline-block;
        }
      }
    }
  }
}